.notification {
    border-radius: 8px;
    padding: 20px 10px 20px 10px;
    font-size: 19px;
}

.is-danger {
    background-color: #e8b3b3;
    box-shadow: 0 0 4px 0 #d14f4f;
}

.is-info {
    background-color: lightblue;
    box-shadow: 0 0 4px 0 #759fec;
}

.is-success {
    background-color: lightgreen;
    box-shadow: 0 0 4px 0 #7fef7f;
}

.v-form .v-label {
  font-size: 18px !important;
}

.v-form .v-messages__message {
  font-size: 16px !important;
}
